{% extends 'main.html' %}

{% block content %}
<form action="" method="get", enctype="multipart/form-data">
  {{form.as_p}}
  <button type="submit">Search</button>
</form>

{% for post in posts %}
<div class="card" style="width: 18rem;">
  {% if post.image %}
    <img src="{{ post.image.url }}" class="card-img-top" alt="...">
  {% else %}
    <img src="/static/place_holder.jpg" class="card-img-top" alt="...">
  {% endif %}
  <div class="card-body">
    <h5 class="card-title">{{ post.title }}</h5>
    <p class="card-text">{{ post.content }}</p>
    <a href="/post_detail/{{ post.id }}/" class="card-link">more details</a>
  </div>
</div>
{% endfor %}

<div style="display: flex; justify-content: center; margin-top: 20px; margin-bottom: 20px;">
  {% for i in max_pages %}
    {% if request.GET %}
      <a href="{{ request.get_full_path }}&page={{ i }}" class="btn btn-primary">{{ i }}</a>
    {% else %}
      <a href="/posts/?page={{ i }}" class="btn btn-primary">{{ i }}</a>
    {% endif %}
  {% endfor %}
</div>

{% endblock %}