{% extends 'main.html' %}

{% block content %}

<div>
    <!DOCTYPE html>
<html lang="ru">
<head>
    <title>{{ post.title }}</title>
</head>
<body>
    <div class="card" style="width: 30rem;"> 
        
    <h1>{{ post.title }}</h1>
    {% if post.image %}
    <img src='{{post.image.url}}' class="card-img-top" alt="...">
    {% else %}
    <img src="/static/place_holder.jpg" class="card-img-top" alt="...">
    {% endif %}
        <div class="card" style="width: 30rem;"> 
            <h5>{{ post.content }}</h5>
        </div>
    <h5>Оценка: {{ post.rate }}</h5>
    <h5>Создано: {{ post.create_at }}</h5>
    <h5>Обновлено: {{ post.update_at }}</h5>
    <h5>
    <a href="/list_view/">Назад</a>
    </h5>
    </div>
</body>
</html>
</div>
{% endblock %}
