{% extends 'main.html' %}

{% block content %}
{% for post in posts %}
<div class="card" style="width: 18rem;">
  {% if post.image %}
    <img src='{{post.image.url}}' class="card-img-top" alt="...">
    {% else %}
    <img src="/static/place_holder.jpg" class="card-img-top" alt="...">
    {% endif %}
    <div class="card-body">
      <h5 class="card-title">{{post.title}}</h5>
      <p class="card-text">{{post.content}}</p>
      <a href="/post_detail/{{post.id}}/" class="card-link">more details</a>
    </div>
  </div>
{% endfor %}
{% endblock %}
